<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>drupal-token demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../drupal-token.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic drupal-token demo</h3>
      <demo-snippet>
        <template>
          <drupal-token token="[ciscode|rev=1|tool=elmsmedia|item=2|entity_type=node|render=display_mode|display_mode=image__boxed__right|height=480|width=640]"></drupal-token>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
